body {
  width: 100%;
  margin-top: 20%;
  background-color: rgb(188, 225, 213);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  align-items: center;
}

.title {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 25px;
}

.form {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.button {
  background-color: antiquewhite;
  color: lightslategray;
  border: cornsilk;
  width: 100px;
  height: 30px;
  border-radius: 10px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-transform: uppercase;
}

.box__1 {
  width: 500px;
  height: 20px;
  font-family: sans-serif;
  color: grey;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.box__2 {
  width: 20px;
  height: 20px;
  background-color: grey;
  border-radius: 200px;
  font-family: sans-serif;
  color: aliceblue;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pista {
  font-size: 10px;
}
